<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Change User Type</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="users-card profile-card">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text >
                            Change the user type
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <div class="dropdown">
                <ion-label>
                    User Type
                </ion-label>
                <ion-select
                        [(ngModel)]="userType"
                        name="user-type"
                        okText="Okay"
                        cancelText="Dismiss"
                        interface="action-sheet"
                >
                    <ion-select-option value="select">Select User Type</ion-select-option>
                    <ion-select-option value="Admin">Admin</ion-select-option>
                    <ion-select-option value="User">User</ion-select-option>
                    <ion-select-option value="PowerUser">PowerUser</ion-select-option>
                </ion-select>
            </div>
            <ion-button color="primary" class="ion-margin ion-float-right ion-text-capitalize"
                        (click)="onChangeUserType()">Change User Type
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
