ion-card-header {
    color: #28445c;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

// ion-card-content {
//     padding: 0;
// }

.bottom {
    position: relative;
    bottom: 48%;
}

.dropdown {
    padding: 20px 10px;
    border-bottom: 1px solid #e5e5e5;
    ion-label {
        color: #28445c;
        font-size: 16px;
        font-weight: bold;
    }
    ion-select {
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

select {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: 10px;
}

ion-back-button {
    position: relative;
    right: 10px;
}


.users-card {
    border:1px solid #d9d9d9;
    box-shadow: none;
    padding-top: 3px;
    border-top: 3px solid #1B8895;
}
.profile-card{
    ion-card-header {
      padding-bottom: 3px;
      border-bottom: 1px solid #ddd;
      padding-top: 0px !important;
    }
  }
  