.bottom {
    position: relative;
    bottom: 42%;
}

.inner-card {
    border: 2px solid #cbdcde;
    box-shadow: none;
    margin-left: 20px;
    ion-card-content {
        padding: 5px 15px;
    }
}

.form-text {
    p {
        color: black;
        font-size: 14px;
    }
    :nth-child(2) {
        font-weight: bold;
    }
    ion-checkbox {  
        position: relative;
        top: 5px; 
    }
}

ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
}


.label {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

ion-button {
    margin-bottom: 50px;
}

ion-back-button {
    position: relative;
    right: 10px;
}
