.options {
  background-color: #eaeaea;
  padding-bottom: 5px;
  div {
    font-size: 16px;
    color: black;
    padding: 6px 10px 5px;
    border-bottom: 1px solid rgba(0,0,0,.13);
    a {
      color: black;
      text-decoration: none;
    }
    ion-icon {
      font-size: 16px;
      margin-right: 30px;
    }
  }
}

.d-none {
  display: none;
}

ion-popover .popover-content{
  left: 205px !important;
  --width: 180px !important;
  $popover-md-width: 180px;
  $popover-ios-width: 180px;
  $popover-wp-width: 180px;
}
