$colors-primary: #1B8895;
$colors-secondary: #5b5ef4;
$colors-danger: #f53d3d;
$colors-light: #75C4FD;
$colors-dark: #0039a2;

.custom-toolbar {
  --background: $colors-primary;
  background: #ffffff;
  color: #222428;
}

.white-bg {
  background-color: #fff;
}

.detail-bg {
  background-color: #f1f1f5;
}

.light-bg {
  background-color: $colors-light;
}

.dark-bg {
  background-color: $colors-dark;
}

.green-bg {
  background-color: #68C91F;
}

.profile-bg {
  background-image: linear-gradient(135deg, $colors-dark, $colors-primary, $colors-light);
}

.text-primary {
  color: $colors-primary;
}

.text-secondary {
  color: $colors-secondary;
}

.text-green {
  color: #68C91F;
}

.text-yellow {
  color: #FDD835;
}

.text-white {
  color: #fff;
}

//
.dark-trans,
.toast-md .toast-wrapper {
  background-color: rgba(0, 0, 0, .4);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear {
  clear: both;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.round {
  border-radius: 1rem;
  overflow: hidden;
}

.no-round {
  border-radius: 0;
}

.border-bottom {
  border-bottom: 1px solid rgba(86, 61, 124, 0.1);
}

.full-width {
  width: 100% !important;
}

.max-width {
  max-width: 100% !important;
}

.padding-sm {
  padding: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

// text size
.text-2x {
  font-size: 2em;
}

.text-1x {
  font-size: 1em;
}

.text-sm {
  font-size: 0.85em;
}

.bold {
  font-weight: bold !important;
}

// buttons configs
.btn-facebook {
  --background: #3B5999;
}

.btn-twitter {
  --background: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}

// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}

// card style
.card {
  background: #FFF;
  border-radius: 1rem;
  box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
}

// navbar style
ion-navbar.no-border {

  .toolbar-background {
    border: none;
  }
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }

  .item:last-child {
    border: none;
  }

  .item {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid rgba(86, 61, 124, 0.2);

    .item-inner {
      border: none;
    }
  }
}

// item style
.item.no-border {
  .item-inner {
    border: none;
  }
}

// Toolbar
// transparent nav bar
.toolbar {
  &.nav-transparent {
    .toolbar-background {
      background-color: rgba(86, 61, 124, .65);
    }
  }

  .toolbar-title {
    img {
      vertical-align: sub;
      border-radius: 10%;
    }
  }
}

.custom-toolbar ion-title {
  margin-left: -15px; /* Apply margin to ion-title within custom-toolbar */
}

// style for auth pages
.auth-page {
  --background: transparent;

  &::after {
    content: "";
    background: url("/assets/images/bg.jpg") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  ion-item {
    --background: transparent;
    padding: 0;

    ion-label {
      ion-icon {
        vertical-align: middle;
        font-size: 18px;
      }
    }
  }

  .login-content {
    .app-logo {
      margin-top: 35px;
    }

    .list-form {
      padding: 0;
      margin-bottom: 0;
    }
  }
}

// Menu user profile
.user-profile {
  .user-avatar {
    width: 68px;
    height: 68px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, .25), 0 0 4rem rgba(255, 255, 255, .45);

    img {
      border-radius: 50%;
    }
  }

  .toolbar-background {
    background-image: linear-gradient(135deg, $colors-dark), $colors-primary;
  }

  .other-data {
    .column {
      &:first-child {
        border-right: 1px solid rgba(36, 50, 157, .25);
      }
    }
  }
}

.user-list {
  .item {
    &:last-child {
      border-bottom: 0;
    }

    .item-inner {
      border-color: rgba(86, 61, 124, .1);
    }
  }
}

// styles for hotels
.hotel-bg {
  background-position: center;

  .bg-filter {
    position: relative;
    height: 150px;
    background: rgba(0, 0, 0, .5);

    .bottom-info {
      position: absolute;
      width: 100%;
      bottom: 1rem;
      padding: 1rem;
    }
  }

  .discount {
    position: absolute;
    padding: 0.5rem 1rem;
    top: 0;
    right: 0;
    background-color: #68C91F;
    color: #fff;
  }

  .origin-price {
    color: #C0C0C0;
    text-decoration: line-through;
  }

  .sale-price,
  .price {
    font-size: 1.8rem;
  }
}

// style for slider
ion-slides.to-top {
  height: auto;
  margin-bottom: -5px;

  .swiper-pagination {
    display: block !important;

    .swiper-pagination-bullet {
      background: $colors-light;
    }
  }
}

.to-top {
  height: auto;
  margin-bottom: -5px;
}

// style for ion-icon
ion-icon[ng-reflect-disabled="true"] {
  color: #FAFBFC;
  pointer-events: none;
}

// checkout info style
.checkout-info {

  span {
    font-size: 1.2rem;
  }
}

// remove shadow from header
.md {
  ion-header {
    &.no-shadow::after {
      background-image: none;
    }
  }

  ion-toolbar,
  ion-navbar {
    .button,
    .button.activated {
      box-shadow: none;
    }
  }
}

.ios {
  ion-list ion-item,
  .list-hotels .hotel-bg {
    pointer-events: none;
  }
}

// google
.google-map {
  height: 160px;
  pointer-events: none;
  margin: 0 -20px;
}

.document-viewer-frame {
  min-height: 450px;
  border: none;
}

.attachment-video {
  background: #000000;

  video {
    width: 100%;
    max-height: calc(100vh - 170px);
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

// Animate CSS
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

