<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="users-card">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text class="title">
              Users
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-button class="perform ion-text-capitalize ion-float-right" color="primary" fill="outline">
              <a routerLink="/users/new">Add User</a>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <p *ngIf="users.length === 0" class="not-found">No user found. Add to see them.</p>
    <ion-card-content *ngIf="users.length">
      <ion-list>
        <ion-item *ngFor="let user of users; let i=index" lines="none" class="user-info">
          <div style="width: 320px">
            <span class="user-name">
              <a routerLink="/users/{{user.id}}">{{ user.name ? user.name : 'N/A' }}</a> <br>
            </span>
            <a routerLink="/users/{{user.id}}">{{ user.email }}</a> <br>
            {{ user.type }} <br>
            Groups added: {{ user.group_number }}
          </div>
          <ion-icon (click)="showPopOver($event, i, user.id, user.email, user)" name="ellipsis-horizontal-sharp"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more users...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
