<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Add User</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="users-card">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="title">
                            Add User
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-card class="inner-card">
                <ion-card-content>
                    <form class="list-form">
                        <ion-item>
                            <ion-label position="floating">
                                Email
                            </ion-label>
                            <ion-input
                                    type="email"
                                    name="email"
                                    [(ngModel)]="user.email"
                                    clearInput
                                    required
                            >
                            </ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label>
                                Select Client
                            </ion-label>
                            <ion-select
                                    [(ngModel)]="user.client_id"
                                    name="client_id"
                                    okText="Okay"
                                    cancelText="Dismiss"
                                    interface="action-sheet"
                                    class="mx-0 my-10"
                                    clearInput
                                    required
                            >
                                <ion-select-option *ngFor="let client of clients"
                                                   value="{{ client.id }}">{{ client.name }}</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-item>
                            <ion-label>
                                Select User Type
                            </ion-label>
                            <ion-select value="admin" name="type" [(ngModel)]="user.type" okText="Okay"
                                        cancelText="Dismiss" interface="action-sheet" class="mx-0 my-10">
                                <ion-select-option value="Admin">Admin</ion-select-option>
                                <ion-select-option value="User">User</ion-select-option>
                                <ion-select-option value="PowerUser">Power User</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">
                                Username
                            </ion-label>
                            <ion-input
                                    type="text"
                                    name="username"
                                    [(ngModel)]="user.username"
                                    clearInput
                                    required>
                            </ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">
                                Password
                            </ion-label>
                            <ion-input type="password" autocomplete="off" name="password" [(ngModel)]="user.password"
                                       clearInput
                                       required></ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label position="floating">
                                Password Confirmation
                            </ion-label>
                            <ion-input type="password" autocomplete="off" name="confirm-password"
                                       [(ngModel)]="user.password_confirmation" clearInput
                                       required></ion-input>
                        </ion-item>
                        <div class="ion-margin form-text">
                            <p>
                                Please make sure your password is 8 character or longer.
                            </p>
                            <p class="ion-text-bold">
                                Test User?
                                <ion-checkbox name="test_user" [(ngModel)]="user.test_user"></ion-checkbox>
                            </p>
                        </div>
                    </form>
                </ion-card-content>
            </ion-card>
            <ion-button color="primary" class="ion-float-right ion-margin ion-text-capitalize" (click)="onAddUser()">Add
                User
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
