.mx-0 { 
    margin-left: 0; 
    margin-right: 0;
}

.my-10 { 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.inner-card {
    border: 2px solid #cbdcde;
    box-shadow: none;
    margin-left: 20px;
}

.form-text {
    p {
        color: black;
        font-size: 14px;
    }
    :nth-child(2) {
        font-weight: bold;
    }
    ion-checkbox {  
        position: relative;
        top: 5px; 
    }
}

ion-back-button {
    position: relative;
    right: 10px;
}

.profile-card{
    margin: 15px !important;
    ion-card-header {
      padding-bottom: 3px;
      border-bottom: 1px solid #ddd;
    }
  }
  

.users-card {
    border:1px solid #d9d9d9;
    box-shadow: none;
    padding-top: 3px;
    border-top: 3px solid #1B8895;
}
