<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Inbox</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="10">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-fab *ngIf="type === 'user'" vertical="bottom" horizontal="start"
        slot="fixed">
        <a routerLink="/new-message">
            <ion-fab-button style="--background: #1B8895;">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </a>
    </ion-fab>
    <ion-list *ngFor="let item of list; let i = index" (click)="openModal(i)">
        <ion-card  class="common-card ion-activatable ripple-parent">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-grid style="margin: 15px;">
                <ion-row>
                    <ion-col style="padding: 0px;">
                        <ion-row>
                            <ion-icon name="person-outline" size="large" class="blue-icon icon-size icon-with-border">
                            </ion-icon>
                            
                            <ion-label class="recipinent-name bold-text">{{item.recipient_name}}</ion-label>
                        </ion-row>
                    </ion-col>
                    <ion-col>
                        <div class="red-dot"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-card-content class="remove-marging m-2">
                <ion-label class="bold-text">{{item.title}}</ion-label>
            </ion-card-content>
            <ion-card-content class="remove-marging card-with-border m-2">
                <p class="img-container black-text" [innerHTML]="item.content"></p>
            </ion-card-content>
            <ion-card-content class="date-section">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-row class="ion-align-items-center" style="line-height: normal;">
                                <ion-col size="1" style="margin-right: 15px; width: auto;">
                                    <ion-icon name="time-outline" size="small" style="margin-right: 5px;"></ion-icon>
                                </ion-col>
                                <ion-col size="7" style="padding: 0; width: auto;" class="ion-padding-start">
                                    <p class="black-text" style="margin: 0;">{{item.created_at | date: 'EEE MMM d'}}</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        
                        
                        <ion-col size="3" class="ion-text-end"
                            (click)="downloadAttachment(item.attachment.url, item.attachment_type)">
                            <ion-row class="custom-row"
                                *ngIf="item.attachment_type !== null">
                                <ion-col
                                    style="margin-left: 70%; display: flex; align-items: center; padding-top: 0px">
                                    <ion-icon
                                        *ngIf="videoFileTypes.includes(item.attachment_type)"
                                        name="film-outline" size="large"
                                        class="blue-icon icon"></ion-icon>
                                    <ion-icon
                                        *ngIf="documentFileTypes.includes(item.attachment_type)"
                                        name="document-outline" size="large"
                                        class="blue-icon icon"></ion-icon>
                                    <p
                                        *ngIf="videoFileTypes.includes(item.attachment_type)"
                                        class="text bold-text">VIDEO</p>
                                    <p
                                        *ngIf="documentFileTypes.includes(item.attachment_type)"
                                        class="text bold-text">PDF</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>        
    </ion-list>
    <ion-item *ngIf="list && list.length <= 0" class="ion-text-center">
        No inbox found!
    </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar class="footer-toolbar">
        <ion-segment [(ngModel)]="selectedSegment"
            (ionChange)="segmentChanged()" style="background-color: #f7f7f7; width: 100vw;">
            <ion-segment-button value="read">
                <ion-label class="bold-text">Read</ion-label>
                <ion-icon name="book-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="unread">
                <ion-label class="bold-text">Unread</ion-label>
                <ion-icon name="mail-unread-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>
