<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="clients-card">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text class="title">
              Clients
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-button class="perform ion-text-capitalize ion-float-right" color="primary" fill="outline">
              <a routerLink="/clients/new">Add Client</a>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <p *ngIf="clients.length === 0" class="not-found">No client found. Add to see them.</p>
    <ion-card-content *ngIf="clients.length">
      <ion-list>
        <ion-item *ngFor="let client of clients; let i=index" lines="none" class="user-info">
          <div style="width: 320px">
            <span class="user-name">
              {{ client.name }}
            </span> <br>
            Token: {{ client.token }}
          </div>
          <ion-icon (click)="showPopOver($event, i, client.id)" name="ellipsis-horizontal-sharp"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more clients...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
