<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">test</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-list class="ion-no-padding">
      <ion-card *ngFor="let item of list; let i = index"
        class="custom-card common-card" ion-ripple-effect>
        <ion-item lines="none" (click)="openModal(i)" class="card-item">
          <ion-avatar slot="start" class="avatar">
            <img src="/assets/images/ic_action_signal.png" class="icon-border">
          </ion-avatar>
          <ion-label class="label">
            <h2 class="recipient-name">{{item.recipient_name}}</h2>
            <h3 class="title">{{item.title}}</h3>
            <p [innerHTML]="item.content" class="content"></p>
          </ion-label>
          <ion-label slot="end" class="date ion-text-end">
            {{item.created_at | date: 'dd/MM/yyyy'}}
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
