
.bg-image{
  height: 100%;
  width: 100%;
  //background-size: cover;
  background-position: center;
  padding: 20px 15px 55px 15px;
  overflow: scroll;
}
.bg-image-X{
  padding: 80px 15px 75px 15px;
}

h4{
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ff0000;
  //margin-bottom: 100px;
}

.list > .item-block:first-child {
  border: medium none;
}



.item {
  margin-bottom: 10px;
  background: rgb(255, 255, 255);
  border: medium none;
  border-radius: 8px;
}

ion-toolbar {
  //--background: transparent;
  //--ion-color-base: transparent !important;
}

ion-input {
  --placeholder-color: #000000;
  color: var(-ion-color-dark);

}

ion-button{
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.custom-input.ng-invalid{
  border-bottom-color: transparent;
}

.custom-input.ng-valid{
  border-bottom-color: transparent;
}

.custom-input.input-has-focus{
  border-bottom-color: transparent;
}

#login-form {
  background: transparent;
  margin-bottom: 0;
  ion-item {
    margin-bottom: 15px;
  }
}

.open-keyboard {
  position: relative !important;
  margin-top: 135px !important;
  left: 0 !important;
  right: 0 !important;
}

ion-input {
  &.custom-input {
    font-size: 15px; //sets text font size
    border-bottom: transparent;
    ::placeholder {
      font-size: 10px; //sets placeholder font size
      font-weight: bold;
      color: black;
    }
  }
}

input:focus {
  outline: none;
  color: transparent;
  padding: 2rem 1rem;
}


.icon {
  padding-right: 10px;
}

.bottom {
  bottom: 0;
}

.input-cover {
  position: static;
}
