<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Logos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="title">
                            Logos
                        </ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-button
                            class="perform ion-text-capitalize ion-float-right"
                            color="primary" fill="outline" routerLink="/logos/new">
                            Add Logo
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <p *ngIf="logos.length === 0" class="not-found">No logo found. Add to
            see them.</p>
        <ion-card-content *ngIf="logos.length">
            <ion-list>
                <ion-card *ngFor="let logo of logos; let i=index"
                    class id="show_option_{{i}}"
                    lines="none"
                    class="common-card">
                    <ion-ripple-effect></ion-ripple-effect>

                    <ion-item lines="none">
                        <ion-avatar slot="start">
                            <ion-img src="{{ logo.image_location }}"></ion-img>
                        </ion-avatar>
                        <ion-label class="logo-info">
                            <div style="font-weight: bold">
                                {{ logo.client ? logo.client.name : "N/A" }}
                            </div>
                            Type: {{ logo.image_type }}
                        </ion-label>
                        <ion-icon (click)="showPopOver($event, i, logo.id)"
                            name="ellipsis-horizontal-sharp"></ion-icon>
                    </ion-item>
                </ion-card>
            </ion-list>
        </ion-card-content>

    </ion-card>
    <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more logos...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
