.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .users-card {
    width: 80%;
    .user-info {
      color: black;
      padding: 20px 0;
      div {
        width: 200px;
        margin-top: 20px;
        p {
          font-weight: bold;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

ion-back-button {
  position: relative;
  right: 10px;
}
