<app-header title="KaizenLoop - Single User"></app-header>
<ion-content>
  <div class="wrapper">
    <ion-card class="users-card">
      <ion-card-content>
        <div class="user-info">
          <div>
            <p>
              Name:
            </p>
            {{ name }}
          </div>
          <div>
            <p>
              Email:
            </p>
            <a href="">
              {{ email }}
            </a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
