<ion-content class="animated ion-padding login auth-page">
  <div class="login-content">
      <div class="item-text-wrap">
          <ion-img src="assets/images/logo-new.png" class="app-logo"></ion-img>
          <div class="ion-text-center" style="margin-top: 5px;">
              Content Delivery for Constant Improvement
          </div>
      </div>
      <ion-item class="ion-text-center" lines="none">
          <ion-label style="margin-bottom: 0;">
              <ion-icon name="person-circle-outline" style="color: #d2d5d5; font-size: 100px"></ion-icon>
          </ion-label>
      </ion-item>

      <form class="list-form">
          <ion-item class="ion-no-padding">
              <ion-label position="floating">
                  <ion-icon name="mail-outline" item-start class="text-primary" class="icon"></ion-icon>
                  Email
              </ion-label>
              <ion-input type="email"  name="login"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-label position="floating">
                <ion-icon name="person-outline" class="icon"></ion-icon>
                Name
            </ion-label>
            <ion-input type="text" name="name"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-label position="floating">
                <ion-icon name="person-outline" class="icon"></ion-icon>
                Username
            </ion-label>
            <ion-input type="text" name="username"></ion-input>
          </ion-item>

          <ion-item style="position: relative; right: 15px;">
            <ion-label>
                <ion-icon name="person-outline" class="icon"></ion-icon>
                Select 
            </ion-label>
            <ion-select value="client" okText="Okay" cancelText="Dismiss" interface="action-sheet">
              <ion-select-option value="client">Client</ion-select-option>
              <ion-select-option value="developer">Developer</ion-select-option>
              <ion-select-option value="tester">Tester</ion-select-option>
              <ion-select-option value="programmer">Programmer</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="ion-no-padding">
              <ion-label position="floating">
                  <ion-icon name="lock-closed-outline" class="text-primary" class="icon"></ion-icon>
                  Password
              </ion-label>
              <ion-input type="password" autocomplete="off" name="password"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-label position="floating">
                <ion-icon name="lock-closed-outline" class="text-primary" class="icon"></ion-icon>
                Password Confirmation
            </ion-label>
            <ion-input type="password" autocomplete="off" name="confirm-password"></ion-input>
        </ion-item>
      </form>
      <ion-button expand="full" color="secondary" [disabled]="">
          SIGN UP
      </ion-button>
      <ion-item class="ion-text-center text-primary text-sm" lines="none">
          <ion-label tappable>
            Already have an account? <strong> <a routerLink="/login" style="text-decoration: none;">Log In</a> </strong>
          </ion-label>
      </ion-item>
  </div>
  <ion-footer style="margin-top: 20px">
      <ion-grid>
          <ion-row>
              <ion-col class="ion-text-center text-primary text-sm">
                  <b> FOLLOW US ON </b>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="6">
                  <ion-button class="btn-facebook" expand="block">
                      <ion-icon name="logo-facebook"></ion-icon>
                  </ion-button>
              </ion-col>
              <ion-col size="6">
                  <ion-button class="btn-twitter" expand="block">
                      <ion-icon name="logo-twitter"></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-footer>
</ion-content>