<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-card class="clients-card profile-card">
        <ion-card-header>
            <ion-text class="title pl-10">
                User Bio
            </ion-text>
        </ion-card-header>
        <ion-card-content>
            <div class="profile-form-element">
                <div>
                    <ion-label>
                        Email
                    </ion-label>
                </div>
                <ion-label style="color: #737373">
                    {{ email }}
                </ion-label>
            </div>
            <form>
                <div class="profile-form-element">
                    <div>
                        <ion-label>
                            Name
                        </ion-label>
                    </div>
                    <ion-input
                            type="text"
                            name="name"
                            [(ngModel)]="name"
                            required clearInput
                    >
                    </ion-input>
                </div>
                <div class="profile-form-element">
                    <ion-label>
                        Nickname
                    </ion-label>
                    <ion-input
                            type="text"
                            name="nickname"
                            [(ngModel)]="nickname"
                            required clearInput
                    >
                    </ion-input>
                </div>
                <div class="profile-form-element">
                    <div>
                        <ion-label>
                            Image
                        </ion-label>
                    </div>
                    <ion-input
                            type="file"
                            name="image"
                            (change)="loadImageFromDevice($event)"
                    >
                    </ion-input>
                </div>
                <div class="profile-form-element">
                    <div>
                        <ion-label>
                            Password
                        </ion-label>
                    </div>
                    <ion-input
                            type="password"
                            name="password"
                            [(ngModel)]="password"
                            required clearInput autocomplete="off" minlength="8"
                    >
                    </ion-input>
                    <small>Leave it blank if you don't want to change it.</small>
                </div>
                <div class="profile-form-element">
                    <div>
                        <ion-label>
                            Password Confirmation
                        </ion-label>
                    </div>
                    <ion-input
                            type="password"
                            name="confirm-password"
                            [(ngModel)]="password_confirmation"
                            required clearInput autocomplete="off" minlength="8"
                    >
                    </ion-input>
                </div>
                <div class="profile-form-element">
                    <div>
                        <ion-label>
                            Current Password
                        </ion-label>
                    </div>
                    <ion-input
                            type="password"
                            name="current-password"
                            [(ngModel)]="form.current_password"
                            required clearInput autocomplete="off" minlength="8"
                    >
                    </ion-input>
                </div>
                <ion-button
                        color="primary ion-margin"
                        type="submit"
                        expand="block"
                        (click)="onUpdateProfile()"
                >
                    Update
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>
    <ion-card class="clients-card profile-card">
        <ion-card-header>
            <ion-text class="title pl-10">
                Group List ({{ length }})
            </ion-text>
        </ion-card-header>
        <p *ngIf="groups.length === 0" class="not-found">
            This user has not been added to any group.
        </p>
        <ion-card-content *ngIf="groups.length">
            <div class="group-list" *ngFor="let group of groups">
                <div>
                    {{ group.group_name }}
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more groups...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
