<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Private Message</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">
          Enter Recipient Email
        </ion-label>
        <ion-input
                type="text"
                name="title"
                [(ngModel)]="message.recipient"
                spellcheck
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          Enter Title
        </ion-label>
        <ion-input
                type="text"
                name="content"
                [(ngModel)]="message.title"
                spellcheck
        >
        </ion-input>
      </ion-item>
      <angular-editor [(ngModel)]="message.content" [config]="config"></angular-editor>
      <div class="file-container">
        <div>
          <ion-label>
            Attach file
          </ion-label>
        </div>
        <ion-input
                type="file"
                name="file"
                required
                (change)="uploadFile($event)"
                accept="pdf, doc, docx, image/png, image/jpeg"
        >
        </ion-input>
      </div>
      <ion-button
              color="primary"
              class="ion-margin ion-float-right ion-text-capitalize"
              (click)="onSendMessage()"
      >
        Send Message
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
