<ion-content class="animated ion-padding login auth-page">
  <div class="login-content">
      <div class="item-text-wrap">
          <ion-img src="assets/images/logo-new.png" class="app-logo"></ion-img>
          <div class="ion-text-center" style="margin-top: 5px;">
              Content Delivery for Constant Improvement
          </div>
      </div>
      <ion-item class="ion-text-center" lines="none">
          <ion-label style="margin-bottom: 0;">
              <ion-icon name="person-circle-outline" style="color: #d2d5d5; font-size: 100px"></ion-icon>
          </ion-label>
      </ion-item>
      <h2 class="ion-text-center">Forgot your Password?</h2>
      <form class="list-form">
          <ion-item class="ion-no-padding">
              <ion-label position="floating">
                  <ion-icon name="mail-outline" item-start class="text-primary" class="icon"></ion-icon>
                  Email
              </ion-label>
              <ion-input type="text" name="login"></ion-input>
          </ion-item>
      </form>
      <ion-button expand="full" color="secondary" (click)="resetPassword()">
          Reset Password
      </ion-button>
      <ion-item class="ion-text-center text-primary text-sm" lines="none">
          <ion-label tappable>
            New here? <strong><a routerLink="/signup" style="text-decoration: none;">Sign up</a></strong>
        </ion-label>
      </ion-item>
      <ion-item class="ion-text-center text-primary text-sm" lines="none">
        <ion-label tappable>
            Already have an account? <strong> <a routerLink="/login" class="td-none">Log In</a> </strong>
        </ion-label>
    </ion-item>
  </div>
</ion-content>