<app-header title="KaizenLoop - Groups"></app-header>
<ion-content>
    <div class="wrapper">
        <ion-card class="common-card">
            <ion-card-header>
                <ion-text>
                    Join group
                </ion-text>
            </ion-card-header>
            <ion-card-content>
                <input placeholder="Group Name" list="groups-1" name="group_name" [(ngModel)]="group.group_name"/>
                <datalist id="groups-1">
                    <option *ngFor="let group of groups">
                        {{ group.group_name }}
                    </option>
                </datalist>
                <ion-button class="ion-float-right" (click)="onJoinGroup()">Join Group</ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card class="common-card">
            <ion-card-header>
                <ion-text>
                    Add User to group
                </ion-text>
            </ion-card-header>
            <ion-card-content>
                <ion-input type="text" placeholder="Group Name"></ion-input>

                <input
                        type="text"
                        placeholder="Group Name"
                        list="groups-2"
                        name="group_name"
                        [(ngModel)]="group.group_name"
                />
                <datalist id="groups-2">
                    <option *ngFor="let group of groups">
                        {{ group.group_name }}
                    </option>
                </datalist>

                <input
                        type="email"
                        placeholder="User Email"
                        list="emails-1"
                        name="email_name"
                        [(ngModel)]="email.email"
                />
                <datalist id="emails-1">
                    <option *ngFor="let email of emails">
                        {{ email.email }}
                    </option>
                </datalist>

                <ion-button class="ion-float-right" (click)="onAddUserToGroup()">Add To Group</ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card class="common-card">
            <ion-card-header>
                <ion-text>
                    Leave group
                </ion-text>
            </ion-card-header>
            <ion-card-content>
                <input
                        type="text"
                        placeholder="Group Name"
                        list="groups-3"
                        name="group_name"
                        [(ngModel)]="group.group_name"
                />
                <datalist id="groups-3">
                    <option *ngFor="let group of groups">
                        {{ group.group_name }}
                    </option>
                </datalist>
                <ion-button class="ion-float-right" (click)="onLeaveGroup()">Leave Group</ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card class="common-card">
            <ion-card-header>
                <ion-text>
                    Create group
                </ion-text>
            </ion-card-header>
            <ion-card-content>
                <input
                        type="text"
                        placeholder="Group Name"
                        list="groups-4"
                        name="group_name"
                        [(ngModel)]="group.group_name"
                />
                <datalist id="groups-4">
                    <option *ngFor="let group of groups">
                        {{ group.group_name }}
                    </option>
                </datalist>
                <ion-item lines="none">
                    <ion-label>
                        Select Client
                    </ion-label>
                    <ion-select
                        [(ngModel)]="client.id"
                        name="select_client"
                        okText="Okay"
                        cancelText="Dismiss"
                        interface="action-sheet"
                    >
                        <ion-select-option *ngFor="let client of clients" value="{{client.id}}">{{ client.name }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-button class="ion-float-right" (click)="onCreateGroup()">Create Group</ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card class="group-list">
            <ion-card-header>
                <ion-text>
                    Group List
                </ion-text>
            </ion-card-header>

            <p *ngIf="groups.length === 0" class="not-found">No group found.</p>

            <ion-card-content *ngIf="groups.length">
                <ion-grid class="grid-one">
                    <ion-row class="row-bb-head">
                        <ion-col size="4">
                            Group Name
                        </ion-col>
                        <ion-col size="4"></ion-col>
                        <ion-col size="4">
                            Client Name
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-grid *ngFor="let group of groups; let i=index">
                    <ion-row class="users-content" [ngClass]="i < groups.length-1 ? 'row-bb-body' : ''">
                        <ion-col size="4">
                            {{ group.group_name }}
                        </ion-col>
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                            {{ group.client_name }}
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
