<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Groups</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="selectedSegment == 'add'">
    <div class="wrapper" >
        <ion-card class="common-card">
            <ion-card-header>
                <ion-text>
                    Join group
                </ion-text>
            </ion-card-header>
            <ion-card-content>
                <ion-item lines="none">
                    <ion-label>
                        Select Group
                    </ion-label>
                    <ion-select
                            class="group"
                            name="client_id"
                            [(ngModel)]="group.join_group_id"
                            okText="Okay"
                            cancelText="Dismiss"
                            interface="action-sheet"
                    >
                        <ion-select-option>Select Group</ion-select-option>
                        <ion-select-option
                                *ngFor="let group of allGroups"
                                [value]="group.id"
                        >
                            {{ group.group_name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-button class="ion-float-right" (click)="onJoinGroup()">Join Group</ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card class="common-card">
            <ion-card-header>
                <ion-text>
                    Add User to group
                </ion-text>
            </ion-card-header>
            <ion-card-content>
                <ion-item lines="none">
                    <ion-label>
                        Select Group
                    </ion-label>
                    <ion-select
                            class="group"
                            name="client_id"
                            [(ngModel)]="group.add_user_group_id"
                            okText="Okay"
                            cancelText="Dismiss"
                            interface="action-sheet"
                    >
                        <ion-select-option>Select Group</ion-select-option>
                        <ion-select-option
                                *ngFor="let group of allGroups"
                                [value]="group.id"
                        >
                            {{ group.group_name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        Select User Email
                    </ion-label>
                    <ion-select
                            class="group"
                            name="client_id"
                            [(ngModel)]="email.email"
                            okText="Okay"
                            cancelText="Dismiss"
                            interface="action-sheet"
                    >
                        <ion-select-option>Select Group</ion-select-option>
                        <ion-select-option
                                *ngFor="let email of emails"
                                [value]="email.uid"
                        >
                            {{ email.email }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-button class="ion-float-right" (click)="onAddUserToGroup()">Add To Group</ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card class="common-card">
            <ion-card-header>
                <ion-text>
                    Leave group
                </ion-text>
            </ion-card-header>
            <ion-card-content>
                <ion-item lines="none">
                    <ion-label>
                        Select Group
                    </ion-label>
                    <ion-select
                            class="group"
                            name="client_id"
                            [(ngModel)]="group.leave_user_group_id"
                            okText="Okay"
                            cancelText="Dismiss"
                            interface="action-sheet"
                    >
                        <ion-select-option>Select Group</ion-select-option>
                        <ion-select-option
                                *ngFor="let group of allGroups"
                                [value]="group.id"
                        >
                            {{ group.group_name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-button class="ion-float-right" (click)="onLeaveGroup()">Leave Group</ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card class="common-card">
            <ion-card-header>
                <ion-text>
                    Create group
                </ion-text>
            </ion-card-header>
            <ion-card-content>
                <ion-item lines="none">
                    <ion-input
                            placeholder="Add Group Name"
                            class="grp-input"
                            type="text"
                            name="client_id"
                            [(ngModel)]="group.create_group_name"
                    >
                    </ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        Select Client
                    </ion-label>
                    <ion-select
                            class="group"
                            [(ngModel)]="client_id"
                            name="select_client"
                            okText="Okay"
                            cancelText="Dismiss"
                            interface="action-sheet"
                    >
                        <ion-select-option *ngFor="let client of clients"
                                           value="{{client.id}}">{{ client.name }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-button class="ion-float-right" (click)="onCreateGroup()">Create Group</ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-content *ngIf="selectedSegment == 'list'">
    <div class="wrapper" >
        <ion-card class="group-list">
            <ion-card-header>
                <ion-text>
                    Group List
                </ion-text>
            </ion-card-header>
    
            <p *ngIf="groups.length === 0" class="not-found">No group found.</p>
    
            <ion-card-content *ngIf="groups.length">
                <ion-grid class="grid-one">
                    <ion-row class="row-bb-head">
                        <ion-col size="4">
                            Group Name
                        </ion-col>
                        <ion-col size="4"></ion-col>
                        <ion-col size="4">
                            Client Name
                        </ion-col>
                    </ion-row>
                </ion-grid>
    
                <ion-grid *ngFor="let group of groups; let i=index">
                    <ion-row class="users-content" [ngClass]="i < groups.length-1 ? 'row-bb-body' : ''">
                        <ion-col size="4">
                            {{ group.group_name }}
                        </ion-col>
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                            {{ group.client_name }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
    <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)" >
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more groups...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>


<ion-footer>
    <ion-toolbar class="footer-toolbar">
        <ion-segment [(ngModel)]="selectedSegment" style="background-color: #f7f7f7;">
            <ion-segment-button value="add">
                <ion-label class="bold-text">Add group</ion-label>
                <ion-icon name="person-add-outline"></ion-icon>         
           </ion-segment-button>
            <ion-segment-button value="list">
                <ion-label class="bold-text">Group list</ion-label>
                <ion-icon name="people-outline"></ion-icon>        
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>