<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>New Loop</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item class="p1">
                <ion-label>Select Group</ion-label>
                <ion-select
                        name="group-name"
                        [(ngModel)]="message.group_id"
                        okText="Okay"
                        cancelText="Dismiss"
                        interface="action-sheet"
                        class="mx-0 my-10"
                >
                    <ion-select-option
                            *ngFor="let group of groups"
                            [value]="group.id"
                    >
                        {{ group.group_name }}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="p1">
                <ion-label>Receipt type</ion-label>
                <ion-select
                        name="receipt-type"
                        [(ngModel)]="message.receipt_type"
                        okText="Okay"
                        cancelText="Dismiss"
                        interface="action-sheet"
                        value="Flag"
                >
                    <ion-select-option value="Flag">Flag</ion-select-option>
                    <ion-select-option value="Quiz">Quiz</ion-select-option>
                </ion-select>
            </ion-item>
            <div *ngIf="message.receipt_type === 'Quiz'">
                <ion-item style="padding-left: 10px;">
                    <ion-label position="floating">
                        Ask a Question
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="message.question">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-list>
                        <ion-radio-group [(ngModel)]="message.answer" value="a">
                            <ion-list-header>
                                <ion-label style="font-size: 16px">Answer</ion-label>
                            </ion-list-header>

                            <ion-item>
                                <ion-radio slot="start" value="a"></ion-radio>
                                <ion-label position="floating">Answer (a)</ion-label>
                                <ion-input
                                        type="text"
                                        name="ans_a"
                                        [(ngModel)]="message.answer_a"
                                >
                                </ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-radio slot="start" value="b"></ion-radio>
                                <ion-label position="floating">Answer (b)</ion-label>
                                <ion-input
                                        type="text"
                                        name="ans_b"
                                        [(ngModel)]="message.answer_b"
                                >
                                </ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-radio slot="start" value="c"></ion-radio>
                                <ion-label position="floating">Answer (c)</ion-label>
                                <ion-input
                                        type="text"
                                        name="ans_c"
                                        [(ngModel)]="message.answer_c"
                                >
                                </ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-radio slot="start" value="d"></ion-radio>
                                <ion-label position="floating">Answer (d)</ion-label>
                                <ion-input
                                        type="text"
                                        name="ans_d"
                                        [(ngModel)]="message.answer_d"
                                >
                                </ion-input>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>
                </ion-item>
            </div>
            <ion-item>
                <ion-label position="floating">
                    Message Title
                </ion-label>
                <ion-input
                        type="text"
                        name="title"
                        [(ngModel)]="message.title"
                        clearInput spellcheck
                >
                </ion-input>
            </ion-item>
            <angular-editor [(ngModel)]="message.content" [config]="config"></angular-editor>
            <div class="file-container">
                <div>
                    <ion-label>
                        Attach file
                    </ion-label>
                </div>
                <ion-input
                        type="file"
                        name="file"
                        required
                        (change)="uploadFile($event)"
                        accept=".pdf, .doc, .docx"
                ></ion-input>
            </div>
            <ion-button
                    color="primary"
                    class="ion-margin ion-float-right ion-text-capitalize"
                    (click)="onLaunchLoop()"
            >
                Launch Loop
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
