<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <h2>
      <img src="../../assets/images/emrloop_icon_green-2a5f031247c3243a731a05e58137233e6e9c731ec3e4979be05eda6694cd7267.png" />
      Welcome <span *ngIf="name">{{ ', ' + name }}</span>
    </h2>
    <h5>
      KaizenLoop is your Secure Enterprise Solution for precise deployment and tracking of notifications and content delivery!
    </h5>
    <a *ngIf="type !== 'User'" routerLink="/new-loop">
      New Loop <ion-icon name="arrow-forward-outline"></ion-icon>
    </a>
  </div>
</ion-content>
