<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>KaizenLoop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
      <ion-list>
        <ion-item *ngFor="let item of list" lines="full" (click)="details(item.id)">
          <ion-avatar slot="start">
            <img src="/assets/images/ic_action_signal.png">
          </ion-avatar>
          <ion-label class="list-item">
            <h2>{{item.recipient_name}}</h2>
            <h3>{{item.title}}</h3>
            <p [innerHTML]="item.content"></p>
          </ion-label>
          <ion-label slot="end" style="margin-bottom: auto" class="ion-text-right">
            <h2>{{item.created_at | date: 'dd/MM/yyyy'}}</h2>
            <img src="/assets/images/ic_action_picture.png">
          </ion-label>
        </ion-item>
      </ion-list>

  </div>
</ion-content>
