<ion-header [translucent]="true">
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="activeItem"> {{activeItem.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides fullscreen="true" [options]="slideOpts" (ionSlideDidChange)="slideNewTab($event)" #tabSlider>
        <ion-slide *ngFor="let item of list; let i = index;">
            <ion-card-content *ngIf="readySlider" class="ion-no-padding">
                <div *ngIf="item.attachment && item.attachment.url && i == current_slider"
                     [innerHTML]="item.attachment.url | attachment"></div>
                <div class="list-item-content">
                    <h2><b>{{item.title}} </b></h2>
                    <p [innerHTML]="item.content"></p>
                    <ion-button expand="full" color="warning" (click)="openQuizeModal(item.id)" *ngIf="item.receipt_type == 'Quiz'">
                        Submit Quiz
                    </ion-button>

                    <ion-button expand="full" color="secondary" (click)="sentAcknowledgement(item.id)" *ngIf="!read && item.receipt_type != 'Quiz'">
                        Acknowledgement receipt
                    </ion-button>

                    <ion-title *ngIf="read"> Seen</ion-title>
                </div>
            </ion-card-content>
            <ion-card-content *ngIf="!readySlider">
                Loading...
            </ion-card-content>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer class="ion-text-center" style="background: #dfdfdf40; padding: 7px">
    {{current_slider}} of {{list ? list.length : 0}}
</ion-footer>
